*{
    font-family: 'Courier New', Courier, monospace;
}
input:hover{
    background-color: maroon;
}
input:focus{
    background-color: grey;
    color: white;
}
img{
    width: 200px;
    height: 200px;
}
#zoomin:hover{
    transform:scale(1.3);
    transition: transform 5s;
    filter: grayscale(100%);
}
#zoomout:hover{
    transform: scale(0.6);
    transition: transform 5s;
    filter: grayscale(100%);
}