img{
    float: right;
}
form{
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 14%;
    padding-bottom: 20%;
    padding-top: 10%;
    margin-top: 4%;
    width: 250px;
    height: 100px;
    background-color: beige;
    border-radius: 20%;
    border: 2px solid black;
    box-shadow: 10px 0px 10px 0px black;
}